langchain
langchain-community
langchain-groq
# unstructured==0.14.6
selenium
chromadb
streamlit
pandas
python-dotenv
plotly
# uuid==1.0.0
pytz
pandasql
pdfplumber
beautifulsoup4
requests
python-docx
protobuf